requests
tqdm
google
hdbscan
ipykernel
jupyterlab_widgets
ipywidgets
matplotlib
numpy
opencv-python
openpyxl
kaleido
pandas
pyarrow
scikit-image
scikit-learn
scikit-posthocs
scipy
seaborn
sentence-transformers
tabulate
torch
torchvision
torchaudio
umap-learn