requests>=2.31.0
tqdm
google
ipykernel
matplotlib
numpy
opencv-python
openpyxl
pandas
pyarrow
scikit-image
scikit-learn
scikit-posthocs
scipy
seaborn
sentence-transformers
torch
torchvision
torchaudio
umap-learn
hdbscan